<div class="container mt-4">
    <h1>Algorithm DES</h1>
    <form method="POST" action="/algorithmDES">
        <div class="row">
            <div class="col-md-6">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">M찾 h처a</span>
                    <input name="dulieu" type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <button type="submit" class="btn btn-primary">M찾 h처a</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <textarea name="chuoimahoa" class="form-control" cols="50" rows="5"><%-  %></textarea>
            </div>
        </div>
    </form>
</div>